<div class="row">
	<div class="col"></div>
	  <div class="col-md-6">
		<h4>List of all searched Movies</h4>
	
		<table class="table table-hover table-striped table-responsive-xs table-danger">
			<tr>
			  <th>Title</th>
			  <th>Text</th>
			  <th colspan="1">Show Movies</th>
			</tr>
				<% @movies.each do |movie| %>
			<tr>
			  <td>
				<%= movie.name %>
			  </td>
			  <td>
				<%= truncate(movie.description, length: 75) %>
			  </td>	
			  <td>
				<%= link_to 'Show', movie_path(movie), class: 'btn btn-sm btn-info' %>
			  </td>
			    <% end %>
			</tr>
		</table>
			<p>
				<%= link_to 'Back', movies_path, class: 'btn btn-sm btn-primary'  %>
			</p>
	  </div>
	<div class="col"></div>
</div>