<div class="row" style="padding-top: 30px;">
  <div class="col"> </div>
    <div class="col-md-7">
    	
      <h1>New Director</h1>

        <%= render 'form', director: @director %>

        <%= link_to 'Back', directors_path, class: 'btn btn-md btn-info' %>

    </div>
  <div class="col"> </div>
</div>
