.footer {
  margin-top: 75px;
  background-color: #28364f;
  padding-top: 35px;
  color:#FFFFFF;
}

.text-center {
  font-style: italic;
  margin :3px;
}

.text-center a
{
	font-weight: bold;
	color: #f3cace !important;
}
.text-center a:hover
{
	font-weight: bold;
	color: #ffffff;
}

