.nav-item {
	display: block;
  	padding: 0.5rem 1rem;
}
.nav-item a
{
	font-weight: bold;
	color: #f3cace !important;
}
.nav-item a:hover
{
	font-weight: bold;
	color: #ffffff;
}
.navbar-toggler
{
	border: 2px solid #ffffff !important;
}
