// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login {
	display: block;
  	padding: 0.2rem 1.5rem;
}

.pole {
	padding: 10px;
}